@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Grape+Nuts&family=Rubik+Glitch&family=Source+Sans+Pro&display=swap');

article{
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    grid-column-gap: 20px;
}

article > * {
    grid-column: 2;
    min-width: 0;
}

article > figure{
    grid-column: 1 / -1;
    margin: 20px 0;
}

article > .anotacao{
    grid-column: 3;
    color: rgb(141, 7, 7);
    font-size: 0.8em;
    font-style: bold;
    margin-right: 20px;
}

/* General styling */

body{
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.texto{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
}

figure{
    margin: 0;
}

figcaption{
    color: rgb(102, 0, 0);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.6em;
    font-style: italic;
    margin-left: 15px;
}

.imagem-caixa{
    height: 300px;
    margin-right: 30px;
}